In [1]:
pip install Faker

Requirement already satisfied: Faker in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (37.1.0)
Requirement already satisfied: tzdata in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlite3
from faker import Faker
import random
import pandas as pd

In [3]:
cnx = sqlite3.connect("base_datos_proveedores.db")

In [4]:
cursor_prov = cnx.cursor()

In [22]:
cursor_prov.execute("DROP TABLE IF EXISTS pieza")

In [31]:
#Mi lista de constantes
categorias_piezas_coche = ["Motor","Suspensión","Frenos","Transmisión","Escape","Refrigeración","Electrónica","Iluminación","Carrocería","Neumáticos"]
colores = ['Rojo', 'Azul', 'Verde', 'Amarillo', 'Negro', 'Blanco', 'Gris', 'Naranja','Marrón', 'Blanco', 'Plateado' ]

In [32]:
#Creamos una función para llamar a las piezas como una categoría con 3 dígitos seguidos
def generar_nombre(categoria):
    return f"{categoria}-{random.randint(100, 999)}"

In [25]:
# Crear tabla "pieza"
query = '''
CREATE TABLE IF NOT EXISTS pieza (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    codigo_pieza TEXT,
    color TEXT,
    precio REAL,
    categoria TEXT
)
'''
cursor_prov.execute(query)

In [26]:
faker = Faker('es_ES')

In [ ]:
#Creamos una lista donde meteremos los datos de nuestra tabla "pieza"
piezas_info_list = []

In [ ]:
#Hacemos la lista piezas y añadimos nuestros valores
#Nuestra categoría tiene que ser igual que nuestro nombre de pieza : (categoría)-XXX


for _ in range(30):
    categoria = random.choice(categorias_piezas_coche)
    nombre = generar_nombre(categoria)
    codigo_pieza = f"{categoria[:2].upper()}-{random.randint(10000, 99999)}"
    color = random.choice(colores)
    precio = round(random.uniform(20, 1500), 2)

    piezas_info_list.append((nombre, codigo_pieza,color,precio, categoria ))

    cursor_prov.execute('''
    INSERT INTO pieza (nombre, codigo_pieza, color, precio, categoria)
    VALUES (?, ?, ?, ?, ?)
    ''', (nombre, codigo_pieza, color, precio, categoria))

print(f"codigo_pieza: {codigo_pieza}, nombre: {nombre}")

codigo_pieza: TR-90534, nombre: Transmisión-119

In [35]:
piezas_info_list

[('Neumáticos-707', 'NE-23113', 'Marrón', 972.33, 'Neumáticos'),
 ('Suspensión-600', 'SU-13081', 'Marrón', 811.92, 'Suspensión'),
 ('Suspensión-837', 'SU-55535', 'Rojo', 692.79, 'Suspensión'),
 ('Transmisión-767', 'TR-42363', 'Amarillo', 495.28, 'Transmisión'),
 ('Refrigeración-468', 'RE-57521', 'Rojo', 1029.59, 'Refrigeración'),
 ('Electrónica-975', 'EL-29834', 'Rojo', 1278.39, 'Electrónica'),
 ('Motor-387', 'MO-26832', 'Amarillo', 992.64, 'Motor'),
 ('Transmisión-351', 'TR-20608', 'Blanco', 1424.32, 'Transmisión'),
 ('Transmisión-306', 'TR-63329', 'Naranja', 770.47, 'Transmisión'),
 ('Motor-900', 'MO-69786', 'Rojo', 1429.93, 'Motor'),
 ('Motor-404', 'MO-69502', 'Negro', 294.93, 'Motor'),
 ('Carrocería-265', 'CA-95359', 'Blanco', 1391.61, 'Carrocería'),
 ('Electrónica-753', 'EL-80460', 'Azul', 1383.61, 'Electrónica'),
 ('Frenos-796', 'FR-40061', 'Naranja', 1290.61, 'Frenos'),
 ('Refrigeración-691', 'RE-67385', 'Azul', 836.19, 'Refrigeración'),
 ('Carrocería-261', 'CA-19247', 'Marrón', 93.38, 'Carrocería'),
 ('Electrónica-691', 'EL-58132', 'Amarillo', 623.57, 'Electrónica'),
 ('Carrocería-733', 'CA-50764', 'Naranja', 245.88, 'Carrocería'),
 ('Neumáticos-313', 'NE-90724', 'Blanco', 357.84, 'Neumáticos'),
 ('Electrónica-173', 'EL-20559', 'Amarillo', 1164.72, 'Electrónica'),
 ('Neumáticos-494', 'NE-87893', 'Negro', 785.41, 'Neumáticos'),
 ('Refrigeración-786', 'RE-76667', 'Verde', 397.18, 'Refrigeración'),
 ('Frenos-882', 'FR-82536', 'Rojo', 370.99, 'Frenos'),
 ('Iluminación-462', 'IL-25424', 'Blanco', 192.22, 'Iluminación'),
 ('Electrónica-456', 'EL-95400', 'Rojo', 827.82, 'Electrónica'),
 ('Transmisión-921', 'TR-68042', 'Gris', 55.92, 'Transmisión'),
 ('Carrocería-122', 'CA-44577', 'Gris', 1396.15, 'Carrocería'),
 ('Carrocería-716', 'CA-53718', 'Verde', 353.58, 'Carrocería'),
 ('Frenos-385', 'FR-35610', 'Blanco', 914.54, 'Frenos'),
 ('Transmisión-119', 'TR-90534', 'Blanco', 428.2, 'Transmisión')]

In [ ]:
#Comprobamos que nos ha salido todo bien
query = ''' 
SELECT nombre
FROM pieza
'''
pd.read_sql(query, cnx)

               nombre
0      Neumáticos-707
1      Neumáticos-614
2      Carrocería-643
3     Transmisión-382
4   Refrigeración-776
5           Motor-340
6     Iluminación-182
7      Neumáticos-648
8          Escape-868
9   Refrigeración-276
10  Refrigeración-728
11    Electrónica-818
12          Motor-523
13         Escape-336
14         Frenos-771
15  Refrigeración-330
16         Frenos-862
17    Iluminación-745
18    Iluminación-641
19    Iluminación-937
20    Transmisión-512
21         Frenos-720
22         Frenos-375
23    Transmisión-174
24     Suspensión-233
25    Electrónica-143
26         Escape-666
27         Escape-472
28     Carrocería-262
29     Suspensión-600
30     Neumáticos-707
31     Suspensión-600
32     Suspensión-837
33    Transmisión-767
34  Refrigeración-468
35    Electrónica-975
36          Motor-387
37    Transmisión-351
38    Transmisión-306
39          Motor-900
40          Motor-404
41     Carrocería-265
42    Electrónica-753
43         Frenos-796
44  Refrigeración-691
45     Carrocería-261
46    Electrónica-691
47     Carrocería-733
48     Neumáticos-313
49    Electrónica-173
50     Neumáticos-494
51  Refrigeración-786
52         Frenos-882
53    Iluminación-462
54    Electrónica-456
55    Transmisión-921
56     Carrocería-122
57     Carrocería-716
58         Frenos-385
59    Transmisión-119

In [ ]:
#Comprobamos nuestras tablas
query = ''' 
SELECT *
FROM sqlite_master
WHERE type = "table"
'''
pd.read_sql(query, cnx)

,type,name,tbl_name,rootpage,sql
0,table,proveedores,proveedores,2,CREATE TABLE proveedores (\nid_proveedor INT P...
1,table,facturas,facturas,10,CREATE TABLE facturas (\nid_factura INT PRIMAR...
2,table,sqlite_sequence,sqlite_sequence,13,"CREATE TABLE sqlite_sequence(name,seq)"
3,table,categoria_pieza,categoria_pieza,4,CREATE TABLE categoria_pieza (\nid_categoria I...
4,table,operaciones,operaciones,7,CREATE TABLE operaciones (\n id_operacion I...
5,table,pieza,pieza,8,CREATE TABLE pieza (\n id INTEGER PRIMARY K...

In [64]:
cursor_prov.execute("DROP TABLE IF EXISTS piezas")

In [24]:
query = ''' 
SELECT *
FROM sqlite_master
WHERE type = "table"
'''
pd.read_sql(query, cnx)

,type,name,tbl_name,rootpage,sql
0,table,proveedores,proveedores,2,CREATE TABLE proveedores (\nid_proveedor INT P...
1,table,piezas,piezas,4,CREATE TABLE piezas (\nid_pieza INT PRIMARY KE...
2,table,categoria_pieza,categoria_pieza,6,CREATE TABLE categoria_pieza (\nid_categoria I...
3,table,operaciones,operaciones,8,CREATE TABLE operaciones (\nid_operacion INT P...
4,table,facturas,facturas,10,CREATE TABLE facturas (\nid_factura INT PRIMAR...
5,table,pieza,pieza,12,CREATE TABLE pieza (\n id INTEGER PRIMARY K...
6,table,sqlite_sequence,sqlite_sequence,13,"CREATE TABLE sqlite_sequence(name,seq)"

In [38]:
cnx.commit()